@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: grey;
    color: rgba(0, 0, 0, 1);
    margin: 10px 10px 10px 10px;
    border: 1px solid;
}

nav#contratado {
    border: 1px solid #606060;
}

.titulo {
    font-size: 3rem;
    /*tamanho da fonte do titulo*/
    color: #333;
    /*esta e a cor do texto*/
    text-align: center;
    /*O alinhamento do testo que carregar esta classe*/
}

.fonte-grande {
    font-size: 40px;
    /*tamanho da fonte do texto*/
}

.sublinhado {
    text-decoration: underline;
    /*para fazer o texto ficar sublinhado*/
}

.informacao {
    text-align: center;
    color: #0000FF;
}

.digite {
    text-align: center;
    margin: 13px;
}

.dados {
    color: black;
    text-align: center;
}

section#arquivos {
    display: block;
    width: 600px;
    float: auto;
    border-right: 1px solid #606060;
    padding-right: 10px;
    background-color: white;
}

.botoes-items {
    display: inline-block;
}

.botoes {
    text-align: center;
    margin: 13px;
}

.enviar {
    text-align: right;
    margin: 13px;
}

section#dowload {
    text-align: right;
    font-size: 20px;
    margin: 10px;
    line-height: 1px;
}

h3#baixar {
    text-align: right;
    font-size: 20px;
    margin: 10px;
    line-height: 1px 1px 1px 1px;
}

footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
}

footer#rodape p {
    text-align: center;
}