.titulo {
    font-size: 3rem;
    /*tamanho da fonte do titulo*/
    color: #333;
    /*esta e a cor do texto*/
    text-align: center;
    /*O alinhamento do testo que carregar esta classe*/
}

.fonte-grande {
    font-size: 40px;
    /*tamanho da fonte do texto*/
}

.sublinhado {
    text-decoration: underline;
    /*para fazer o texto ficar sublinhado*/
}

.informacao {
    text-align: center;
    color: #FF0000;
}

.digite {
    text-align: left;
    margin: 13px;
}

.botoes-items {
    display: inline-block;
}

.botoes {
    text-align: left;
    margin: 13px;
}